* {
	font-family: Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
	margin: 50px auto;
	background-color: #13151a;
}

.main-menu {
	margin: 50px;
}

.main-menu h1 {
	font-size: 50px;
	text-align: center;
	color: #f7eff7
}

.main-menu h2 {
	font-size: 35px;
	color: #f7eff7
}

.video-details {
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
}

.video-detail {
	text-align: center;
	padding: 16px;
	height: '450px';
	width: '540px';
	display: inline-block;
}

.video-detail p {
	font-size: 42px;
	color: #f7eff7
}

.active-detail {
	border: 5px solid #f7eff7;
}
